%spacing{
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  outline: none;

  }
  .row{
    min-height: 175px;
  }
  #home{
    margin-left:  15px;
    margin-bottom: -20px;
  }
  #img1{
    margin-left: 15px;
  }
a{
  @extend %spacing;
  color: black;
  text-align: right;
}
#iForm, #box{
    @extend %spacing;
    width: 100%;
    border: 1px solid lightgrey;
  }
#iForm{
    padding: auto;
    margin: auto;
    height: 46px;
    box-sizing: content-box;
  }
#iSearch, #hid{
    border-style: hidden;
    display: inline-block;
    align-self: center;
    padding: 10px;
    outline: none;
  }
  #button{
    align-self: center;
    margin-top: 10px;

  }
 #search, #lucky{
    @extend %spacing;
    background-color: lightgrey;
    padding-left: 10px;
    margin-left: 15px;
  }

h6{
  color: blue;
  text-align: right;
  margin-right: 10px;
}

#adv{
  font-family: arial,sans-serif;
  .row{
    min-height: 50px;
      form{
        width: 100%;
        padding: 8px 1px;
          }
        input{
              width: 554px;
              min-height: 25px;
              border: 1px solid #d9d9d9;
              border-radius: 1px;
              line-height: 1.25;
            }
      #header{
        min-height: 100px;
        @extend %spacing
      }
      span{
        width: 92px;
        height: 33px;
        background-position: 0 -35px;
        background-size: 528px 68px;
        background-image:url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
        display: block;
      }
      h5{
        color: #d93025;
        min-height: 50px;
      }
        }
      }
#submit_button{
  max-width: 120px;
  height: 30px;
  margin: 10px 0px;
  padding: 0px 12px;
  background-color: #4d90fe;
  border-radius: 2px;
  font-weight: bold;
  color: #fff;
  border: 1px solid #3079ed;
  font-size: 11px;

}
